// Variables
$red: #ad0000;

// Placeholder selectors
%transition {
  transition: all .25s;
}

/*=Typography=*/

html {
  font-size: 16px;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

.sec-about .row {
	max-width: 100%;
	position: relative;
	left: 25%;
}

.sec-contact .row {
	max-width: 100%;
	position: relative;
	left: 35%;
}

/*Header*/

.navbar-default {
  background: #fff;
  position: fixed;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-nav {
	position:absolute;
	right:35px;
}

.navbar-brand {
	position:relative;
	left:30px;
}

/*Main*/

.sec-main {
  position: relative;
  height: 560px;
  background: url(https://gph.to/2R9sd67) no-repeat center center;
  background-size: cover;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

/*About*/

.sec-about a {
  color: #000;
  &:hover,
  &:focus {
    color: $red;
  }
}


.profile-picture {
  border-radius: 200px;
  padding:20px;
  display:block;
  margin: auto;
  width:200px;
}

/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-newspaper {
  width: 90px
}

.sec-services .fa-users {
	 width: 80px;
}

.sec-services h2 {
  margin: 1em 0;
}

/*Experience*/

.sec-experience {
  background: #f9f9f9;
}

.card-img-top{
position: relative;
max-width:100%;
margin:0;
}




/*Contact*/

.sec-contact {
  background: #f9f9f9;
}

.sec-contact .form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;
}


/*Footer*/

footer {
  background: #000;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
}
