body {
  font-family: "Helvetica";
  line-height: 1.4em;
  color: black;
  background-color: #ffe6ff;
  text-align: center;
}

h1 {
	text-align: center;
	background-color: lightpink;
	padding: 20px;
}

#list-data li {
	display: inline-block;
	max-width: 200px;	
}

li img {
	max-width: 100%;
	vertical-align: middle;
}

button {
	padding:20px;
	background-color:#ff9933;
	font-size: 20px;
}